<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
        <div class="container">
            <div class="row">
                <div class="twelve columns box">
                      <h2>
                          Phone Bill Records:
                      </h2>
            {{#each billArray}}
                <table >
                    <tr>
                        <td>type:</td><td>{{billArray.Type}}</td>
                        <td>price:</td><td>{{billArray.Cost}}</td>
                        <td>date:</td><td>{{billArray.TimeStamp}}</td>
                    </tr>
                </table>
           {{/each}}      
                </div> 
            </div>
        </div>
  </body>
</html>
